
@media (min-width: 320px) and (max-width: 768px) {
  
  p {
    margin-bottom:0;

    
  }
  .display-4 {
    font-size:30px!important;
    font-weight:400;
    padding-top:15px;

  }
  .text-center{
    padding:0 10% 2% 10%;
    height:175px!important;
  }
  .row {
    padding: 0 0 0 0!important;
    width:100%;
    margin:0;
  }

  .lead {
    font-size: 15px;
    }
  }
  .pl-5 {
    padding: 0 0 0 0;
  }
  
  .hour{
  width:20%!important;
  margin-left:-left:1%;
  padding:0;
  }

  .col-lg-8{
    width:70%;
  }

  .col-lg-2 {
    width:20%;
    padding-left:3%;
    margin:0;
  }

  .btn {
    margin-bottom: 2px;
  }
  .p-5{
    padding: 0 0 0 0!important;
  }

/* end of media query */

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

h1{
  margin-top:20px;
}
.text-center{
  height:200px;
}
.input{
  background: #f8f9fa;
  padding: 10px;
  outline:none;
  height:60px;
  border-top: 1px dotted rgb(19, 156, 235);

}

.border {
  background-color: rgb(56, 56, 56) ;
  padding:0;
  margin:0;
  height:40px;
  width:100%;
}


.input:focus{
  outline:none;
  border:0;
}
.body{
  background: red;
}

.btn{
  height:60px;
  width:60px;
}
.row{
  padding-top: 1px;
  padding-bottom: 1px;
}
.hour{
  border-top: 1px dotted rgb(19, 156, 235);
  height:60px!important;
  vertical-align: bottom;
  padding-top:20px;
}
.inputcontent{
  margin-left: -20px;
  margin-right: -28px;
}
.space {
  height:60px;
}

