* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.input{
  background: #f8f9fa;
  padding: 10px;
  outline:none;
  height:60px;
  border-top: 1px dotted rgb(19, 156, 235);

}

.input:focus{
  outline:none;
  border:0;
}
.body{
  background: red;
}

.btn{
  height:60px;
  width:60px;
}
.row{
  padding-top: 1px;
  padding-bottom: 1px;
}
.hour{
  border-top: 1px dotted rgb(19, 156, 235);
  height:60px!important;
  vertical-align: bottom;
  padding-top:20px;
}
.inputcontent{
  margin-left: -20px;
  margin-right: -28px;
}
.space {
  height:60px;
}